{{ define "main" }}
<div class="oa-shell">
  <h1>{{ .Title }}</h1>
  {{ $topicLabels := dict }}
  {{ $items := where site.RegularPages "Section" "items" }}
  {{ range site.Data.topics }}
    {{ $topicLabels = merge $topicLabels (dict .id (index .title $.Site.Language.Lang | default .id)) }}
  {{ end }}

  <div class="hx:grid hx:grid-cols-1 hx:md:grid-cols-2 hx:lg:grid-cols-3 hx:xl:grid-cols-4 hx:gap-4">
    {{ range site.Data.topics }}
      {{ $topicID := .id }}
      {{ $count := 0 }}
      {{ range $items }}
        {{ $secondaryTopics := .Params.topics | default (slice) }}
        {{ if or (eq (.Params.primary_topic | default "") $topicID) (gt (len (intersect $secondaryTopics (slice $topicID))) 0) }}
          {{ $count = add $count 1 }}
        {{ end }}
      {{ end }}
      <div class="hx:w-full">
        <a href="{{ printf "topics/%s/" $topicID | relLangURL }}" title="{{ index $topicLabels $topicID | default $topicID }}" class="hx:font-medium hx:hover:text-primary-600">
          {{ index $topicLabels $topicID | default $topicID }}
          <span class="hx:text-sm hx:text-gray-500">&nbsp;{{ $count }}</span>
        </a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
